@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient();
  min-height: 100vh;
 
  
  align-items: center;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
